name: CI

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
    paths-ignore:
      - "*.md"
  pull_request:
    paths-ignore:
      - "*.md"

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:

      fail-fast: false

      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

        lua-version:
          - 5.1
          - 5.2
          - 5.3
          - 5.4
          - 5.5
          - luajit
          - openresty

        is-msvc:
          - true
          - false

        exclude:
          - os: ubuntu-latest
            is-msvc: true

          - os: macos-latest
            is-msvc: true
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup MSVC developer prompt
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
        if: ${{ runner.os == 'Windows' && matrix.is-msvc }}

      - name: Install Lua and LuaRocks
        uses: luau-project/setup-lua@740668c632803d06039deb1c6e7c9293a26fa8e7 # v1.0.9
        with:
          lua-version: ${{ matrix.lua-version }}

      - name: Display the Lua version
        run: lua -v

      - name: Display LuaRocks version
        run: luarocks --version

      - name: Lint rockspecs
        shell: pwsh
        run: |
          Get-ChildItem rockspecs -Recurse -File |
          Select-Object -ExpandProperty FullName |
          ForEach-Object {
            & luarocks lint "$_";

            if ($LASTEXITCODE -ne 0) {
              Write-Host "Failed to lint the rockspec `"$_`"";
              exit 1;
            }
          }

      - name: Install busted to run tests
        run: luarocks install busted

      - name: Install luacov to run code coverage
        run: luarocks install luacov

      - name: Install through LuaRocks
        run: luarocks make "rockspecs/lua-latin1-utf8-dev-1.rockspec"

      - name: Run tests
        run: lua "test.lua"

      - name: Run the sample code out of the tree
        run: |
          cd "${{ runner.temp }}"
          lua "${{ github.workspace }}/sample.lua"

        # luacov is not ready yet for Lua 5.5
      - name: Run code coverage through luacov
        if: ${{ matrix.lua-version != '5.5' }}
        run: lua "-lluacov" "test.lua"

        # luacov is not ready yet for Lua 5.5
      - name: Upload coverage reports to Codecov
        if: ${{ matrix.lua-version != '5.5' }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
